# Backend Laravel
backend/.env
backend/.env.backup
backend/.env.production
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/.phpunit.cache
backend/phpunit.result.cache
backend/auth.json
backend/npm-debug.log
backend/yarn-error.log
backend/public/hot
backend/public/storage
backend/storage/logs/*.log

# Frontend Vue
frontend/.env
frontend/.env.local
frontend/node_modules
frontend/.DS_Store
frontend/dist
frontend/dist-ssr
frontend/coverage
frontend/*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*